
a:hover {
  color: #f01e78;
  border-bottom: 3px solid #02b9cb;
}
.btn {
  margin: 8px;
  background-color: #f01e78;
  border-radius: 0%;
}

.btn:hover {
  background-color: #02b9cb;
}


h1 {
  color: #02b9cb;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

p {
  line-height: 2rem;
}


.galleryImg {
  margin: 3%;
  padding: 11%;
  border: solid 3px;
display: inline-block;
}

.galleryImg > a {
  color: #000000;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
